:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
}

nav img {
  vertical-align: middle;
}

p img {
  margin: 0px auto;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

.prose > :first-child {
  margin-top: 1.25em !important;
}

.link {
  color: var(--c-brand);
}

.link:hover {
  color: var(--c-brand-light);
}
