.prose {
  line-height: 1.75;

  a {
    color: var(--fc-intense);
    text-decoration: underline;
    text-decoration-color: var(--fc-soft);
    transition: color 80ms ease;

    &:hover,
    &:active {
      color: var(--fc-primary-soft);
      text-decoration-color: var(--fc-primary-soft);
    }
  }

  ul > li {
    padding-left: 1.75em;
    position: relative;
  }

  ul > li::before {
    background-color: var(--bg-primary);
    border-radius: 50%;
    content: "";
    height: 0.375em;
    left: 0.25em;
    position: absolute;
    top: 0.75em;
    width: 0.375em;
  }

  figure {
    margin: 2em 0 1.5em;
  }

  hr {
    margin: 3em 0;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.3333333;
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3333333;
    margin-bottom: 1em;
    margin-top: 1.8em;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0.6em;
    margin-top: 1.6em;
  }

  h4 {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }

  p,
  blockquote,
  pre {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }

  blockquote p {
    margin: 0;
  }

  p code {
    @apply rounded;

    background-color: var(--bg-highlight);
    font-size: 0.9em;
    padding: 0.1em 0.3em 0.2em;
  }

  h2,
  h3,
  h4 {
    & + * {
      margin-top: 0;
    }
  }

  iframe.example {
    width: 100%;
  }

  .img {
    display: block;
    margin: 2em 0;
    width: calc(100% + 4rem);
  }

  .caption {
    display: block;
    margin: 1.5rem 0 2rem;
    text-align: center;
  }

  .code.caption {
    margin: -1rem 0 2rem;

    & > code {
      background: none;
      font-style: italic;
    }
  }

  blockquote,
  pre {
    @apply px-8 py-4 pr-4;
  }

  figure,
  .img,
  div.highlight {
    @apply md:rounded-md -mx-8;
  }

  blockquote {
    @apply md:rounded-r-md -mx-8 py-6;
  }

  blockquote p + p {
    margin-top: 1rem;
  }
}

p .emoji {
  vertical-align: -0.2em;
}

a.anchor {
  $size: 16px;
  $margin: 4px;

  border: none;
  box-sizing: content-box;
  display: inline-block;
  height: $size;
  margin-left: -($size + $margin);
  padding-right: $margin;
  vertical-align: middle;
  width: $size;

  &::after {
    background-image: url('~/icons/link.png');
    background-size: $size;
    content: '';
    display: block;
    height: $size;
    visibility: hidden;
    width: $size;
  }

  &:hover::after {
    visibility: visible;
  }
}

/* stylelint-disable no-descending-specificity */
.img {
  &.square {
    border-radius: 0;
  }

  &.captioned {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    &.narrow {
      margin-left: 5%;
      width: 80%;
    }

    &.wide {
      --width: clamp(var(--w-container), 70vw, 940px);
      margin-left: calc((var(--width) - var(--w-container)) / -2);
      width: var(--width);
    }
  }
}
